<p id="notice"><%= notice %></p>

<p>
  <strong>Headline:</strong>
  <%= @carousel.headline %>
</p>

<p>
  <strong>Note:</strong>
  <%= @carousel.note %>
</p>

<p>
  <strong>Textbutton:</strong>
  <%= @carousel.textbutton %>
</p>

<p>
  <strong>Image:</strong>
  <%= @carousel.image %>
</p>

<%= link_to 'Edit', edit_carousel_path(@carousel) %> |
<%= link_to 'Back', carousels_path %>
